<h1>Add A New Bookmark</h1>

<form action="/new_bookmark" method="post">
  <input type="text" name="url" placeholder="Enter URL" required>
  <input type="text" name="title" placeholder="Enter title" required>
  <input type="submit" value="Submit">
</form>

