<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Bookmarks App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <script src="/script.js" defer></script>
  </head>
  <body>
    <%# Homepage Title %>
    <nav>
      <div id="main-title">
        <a href="/"><h1>Basic Bookmarks</h1></a>
        <%# Sign Up/Sign In/Sign Out Buttons %>
        <% if !@user %>
          <form action="/users/new" method="GET">
            <input type="submit" value="Sign Up">
          </form>
          <form action="/users/login" method="GET">
            <input type="submit" value="Sign In">
          </form>
        <% end %>

        <% if @user %>
            <form action="/users/signout" method="POST">
              <input type="submit" value="Sign Out">
            </form>
        <% end %>
      </div>
    </nav>

    <div class="main-container">
      <%# User Greeting %>
      <% if @user %>
        <div id="welcome">
          <h1>Welcome <%= @user.email %>!</h1>
        </div>
      <% end %>
  
      <%# View Bookmarks Button %>
      <div id="view-button">
        <form action="/view_bookmarks" method="get">
          <input type="submit" value="View Bookmarks">
        </form>
      </div> 

    <div>

  </body>
</html>