/* Variables */
:root {
  --primary-color: #c72727;
  --secondary-color: rgb(254, 249, 255);
  --light-color: rgb(253, 238, 255);
  --dark-color: rgb(2, 4, 65);
  --deep-blue: rgb(26, 24, 131);
  --max-width: 1100px;
}

/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}

a {
  color: var(--deep-blue);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color:var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
  line-height: 1.3;
}

h1 {
  color: var(--primary-color);
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

input[type="submit"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* Navigation */
nav {
  width: 100%;
  text-align: center;
  background: var(--secondary-color);
  padding: 1rem;
  position: sticky;
}

#main-title {
  display: inline-block;
}

#main-title h1 {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  line-height: 1;
}

#main-title form {
  text-align: center;
  display: inline;
  margin-right: 0.5rem;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  color: var(--deep-blue);
  transition: all 0.2s ease-in-out;
}

#main-title form:hover {
  color: var(--primary-color);
}

/* Homepage */
.main-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  max-width: var(--max-width);
  height: 100vh;
  margin: auto;
  overflow: hidden;
  position:relative;
}

#welcome {
  text-align: center;
  padding: 2rem;
}

#view-button input {
  display: inline-block;
  border: 3px solid var(--dark-color);
  border-radius: 30px;
  font-size: 3rem;
  color: var(--dark-color);;
  padding: 0.5rem 1.5rem;
  transition: all 0.2s ease-in-out;
}

#view-button:hover input {
  width: 100%;
  border: 3px solid var(--primary-color);
  background: var(--secondary-color);
  color: var(--primary-color);
}

/* Viewing Page */
.view-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  max-width: var(--max-width);
  padding: 1rem;
  margin: auto;
  overflow: hidden;
}

.bm-block {
  padding: 1rem;
  border: 1px solid #ccc;
  background: var(--secondary-color);
  font-size: 1.3rem;
}

.bm-editor, 
.bm-metadata {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.bm-link {
  display: inline-block;
  text-align: center;
  font-size: 1.7rem;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.bm-delete-button button,
.bm-edit-button button,
.bm-comments-button button,
.bm-tags-button button {
  border: none;
  color: rgb(26, 24, 131);
  padding: 0.3rem;
  background: none;
  transition: all 0.4s ease-in-out;
}

.bm-delete-button button:hover,
.bm-edit-button button:hover,
.bm-comments-button button:hover,
.bm-tags-button button:hover {
  color: var(--primary-color);
  padding: 0.5rem;
  background: none;
}

.bm-edit-form, 
.bm-comment-form,
.bm-tag-form {
  display: none;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.bm-comment-form,
.bm-tag-form {
  flex-flow: row nowrap;
}

.bm-edit-form input[type="text"],
.bm-comment-form input[type="text"],
.bm-tag-form input[type="text"] {
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 2px solid var(--primary-color);
}

.bm-edit-form input[type="submit"] {
  color: rgb(26, 24, 131);
  background: var(--light-color);
  font-weight: bold;
  font-size: 1.2rem;
  display: inline-block;
  width: 30%;
  padding: 0.3rem 0.3rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: 2px solid var(--primary-color);
}

.bm-edit-form input[type="submit"]:hover {
  border: 2px solid var(--primary-color);
  background: var(--secondary-color);
  color: var(--primary-color);
}

.duo-form-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  max-width: var(--max-width);
  padding: 1rem;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.duo-form-container h2 {
 padding: 1rem;
 width: 100%;
}

.duo-form {
  display: flex;
  flex-flow: row nowrap;
}

.duo-form-block {
 padding: 1rem;
}

.duo-form-block input[type="text"] {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 2px solid var(--primary-color);
}

.duo-form-block button[type="submit"],
.bm-comment-form button[type="submit"],
.bm-tag-form button[type="submit"] {
  color:var(--dark-color);
  transition: all 0.4s ease-in-out;
}
.duo-form-block button[type="submit"]:hover,
.bm-comment-form button[type="submit"]:hover,
.bm-tag-form button[type="submit"]:hover {
  color:var(--primary-color)
}

.flash .message {
  background: var(--primary-color);
  color: yellow;
}

.view-comments-block,
.view-tags-block {
  display: none;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  width: 100%;
  margin: auto;
  overflow: hidden;
  line-height: 1;
}

.bm-comment,
.bm-tag {
  font-size: 1rem;
  margin: 0.3rem 0;
  font-style: italic;
  display: inline-block;
}

.bm-comment-delete-button,
.bm-tag-delete-button {
  display: inline;
}

.bm-comment-block,
.bm-tag-block {
  flex-flow: column nowrap;
  border-bottom: 1px solid var(--light-color);
}

.bm-comment-form,
.bm-tag-form {
  margin-top: 0.3rem;
  display: none;
  width: 100%;
}

.bm-comment-form input[type="text"],
.bm-tag-form input[type="text"] {
  margin: auto;
  font-size: 0.9rem;
  padding: 0.35rem;
  display: inline;
}

.bm-comment-form button[type="submit"],
.bm-tag-form button[type="submit"] {
  display: inline;
  margin-left: 0.3rem;
  padding: 0.1rem;
} 